<!--<pagination total-items="ads.numItems" ng-model="adsParams.startPage"-->
    <!--items-per-page="adsParams.pageSize" ng-change="reloadAds()"-->
    <!--max-size="9" boundary-links="true">-->
<!--</pagination>-->
<ul class="home" ng-if="authService.isLoggedIn()">
    <h1 style="font-size: 5em">News Feed</h1>
</ul>
<ul class="posts" ng-if="authService.isLoggedIn()">
    <li ng-repeat="post in posts" class="box" data-id="{{ad.id}}">
        <a href="#/User/{{friend.username}}"><img src="{{friend.profileImageData}}" alt="" style="margin-left: 12px; width: 100px; height: 100px"/></a>
        <p><strong>{{post.author.name}}</strong></p>
        <p>{{post.date}}</p>
        <div>{{post.postContent}}</div>
        <span>{{post.likesCount}}</span>
        <span>Like</span>
        <span>{{post.totalCommentsCount}}</span>
        <span>Comments</span>
    </li>
</ul>

<div ng-if="posts.posts.length==0" class="box no-data">
    No ads found.
</div>

<!--<pagination total-items="ads.numItems" ng-model="adsParams.startPage"-->
            <!--items-per-page="adsParams.pageSize" ng-change="reloadAds()"-->
            <!--max-size="9" boundary-links="true">-->
<!--</pagination>-->