<div ng-if="authService.isLoggedIn()" class="user-area">
  <span>Hello, {{authService.getCurrentUser().userName}}</span>
  <a ng-click="logout()" class="link">Logout</a>
</div>
<span ng-if="authService.isLoggedIn()">Social Network</span>
<span ng-if="pageTitle">- {{pageTitle}}</span>
<span ng-if="authService.isAnonymous()">Social Network</span>
<!-- Navigation box for anonymous site visitors -->
<div ng-if="authService.isAnonymous()" class="box">
  <h2>Navigation</h2>
  <ul class="sidebar-menu">
    <li><a href="#/">Home</a></li>
    <li><a href="#/login">Login</a></li>
    <li><a href="#/register">Register</a></li>
  </ul>
</div>

<!-- Login / register box for anonymous site visitors  -->
<!-- <div class="box" ng-if="authService.isAnonymous()">
    <p>To publish a new ad, please login.</p>
    <a href="#/login" class="button">Login</a>-->
<!--<a href="#/register" class="button">Register</a>-->
<!--</div>-->

<!-- Navigation box for logged in normal users -->
<div ng-if="authService.isNormalUser()" class="box">
  <div class="sidebar-menu">
    <div ng-class="{'selected': selectedMenuItem == 'Home'}">
      <a href="#/" ng-click="menuClick('Home')">News</a>
    <div ng-class="{'selected': selectedMenuItem == 'Edit profile'}">
      <a href="#/user/profile" ng-click="menuClick('Edit profile')">Edit Profile</a>
    </div>
    <div ng-class="{'selected': selectedMenuItem == 'Logout'}">
      <a ng-click="logout()" ng-click="menuClick('Logout')">Logout</a>
    </div>
    <div ng-class="{'selected': selectedMenuItem =='Friends request'}">
      <a href="#/user/friendsRequest" ng-click="menuClick('Friends request')">Friends request</a>
    </div>
        <div ng-class="{'selected': selectedMenuItem =='Friends'}">
            <a href="#/api/me/friends" ng-click="menuClick('Friends')">Friends</a>
        </div>
  </div>
</div>

<!-- Sort Ads -->
<!-- <div ng-show="menuOption == 'My ads'" class="box">
    <h2>My Ads</h2>
    <ul class="sidebar-menu">
        <li ng-class="{'selected': selectedMyAds == null}">
            <a ng-click="myAdsMenuClick(null); adsTypeClicked(null)" href="">All</a>
        </li>
        <li ng-class="{'selected': selectedMyAds == 'Published'}">
            <a ng-click="myAdsMenuClick('Published'); adsTypeClicked(2)" href="">Published</a>
        </li>
        <li ng-class="{'selected': selectedMyAds == 'Waiting Approval'}">
            <a ng-click="myAdsMenuClick('Waiting Approval'); adsTypeClicked(1)" href="">Waiting Approval</a>
        </li>
        <li ng-class="{'selected': selectedMyAds == 'Inactive'}">
            <a ng-click="myAdsMenuClick('Inactive'); adsTypeClicked(0)" href="">Inactive</a>
        </li>
        <li ng-class="{'selected': selectedMyAds == 'Rejected'}">
            <a ng-click="myAdsMenuClick('Rejected'); adsTypeClicked(3)" href="">Rejected</a>
        </li>
    </ul>
</div> -->



